h1 {
  font-family: Arial, Verdana, sans-serif;
  font-variant: initial;
  color: gold;
  text-transform: lowercase;
  font-weight: normal;
}

p {
  font-family: georgia, serif;
  line-height: 60px;
  text-align: right;
}
