h1 {
  font-family: Arial, Verdana, sans-serif;
  font-variant: small-caps;
  color: hsl(179, 100%, 50%);
  text-transform: lowercase;
}

p {
  font-family: georgia, serif;
  line-height: 60px;
  text-align: right;
}
